*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.main-view{
  width: 100%;
  height: 400px;
  background-image: url(img/mv.jpg);
  background-position: bottom;
  background-size: cover;
  margin-bottom: 20px;
}

h1{
  padding: 20px;
  color: rgb(128, 128, 128);
  font-size: 20px;
}

main{
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.box{
  width: 840px;
  margin-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.box-text{
  color: rgb(128, 128, 128);
}
main a{
  color: rgb(128, 128, 128);
}

dd